<div class="row">

  <div class="col-5">
    <h3 class="m-3"> Show Suppliers Data by month</h3>
  </div>

  <div class="col-5 m-3">
    <select (change)="getMonth($event)">
        <option value="00">Choose a month</option>
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="05">May</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>
  </div>

</div>

<div *ngIf="!filterByMonth.length > 0">
  <p >Data Not Available</p>
</div>

<div *ngIf="filterByMonth">
  <canvas id="canvas">{{ chart }}</canvas>
</div>


